
{% extends "base.html" %}

{%load static%}





{% block content %}

        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Favorites</h2>
                        <p class="lead">This Website is a vibrant celebration of nature's beauty, 
                            showcasing a diverse array of flowers that thrive in our university's campus. 
                            Each bloom tells a story of dedication, care, and the wonders of horticulture. 
                            The vast collection of flowers might just offer something for everyone. 
                            Dive in and explore the stunning variety of colors, shapes, and fragrances that makes our campus what it is. 
                            Enjoy your journey through the world of flowers!</p>
                        <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
                    </div>
                </div>
            </div>
        </section>

<br></br>
<br></br>
<br></br>
        
<br></br>
<br></br>
<br></br>

<br></br>
<br></br>
<br></br>


{% endblock %}

